<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>

</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LoginPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                  @*  @if (Webshop_Kolb_Nussdorfer.Models.AccountMembershipService.IsAdmin(HttpContext.Current.User.Identity.Name)) {
                    <li>@Html.ActionLink("User", "Index", "User")</li> } *@
                    <li>@Html.ActionLink("User", "Index", "User")</li>
                    <li>@Html.ActionLink("Produkt", "Index", "Produkt")</li>
                    @*if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Mein Konto", "Index", "Profile")</li>
                    }*@
                     @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Warenkorb", "Index", "Warenkorb")</li>
                    }
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
