@model IEnumerable<Webshop_Kolb_Nussdorfer.Models.UserViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{   
    <p>
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" /><br />
        <br />
    </p> 
}


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usergruppe_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nachname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Benutzername)
        </th>

        <th>Details</th>
        <th>Bearbeiten</th>
        <th>Löschen</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usergruppe_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vorname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nachname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benutzername)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.User_ID }) 
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.User_ID })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.User_ID })
            </td>
        </tr>
    }

</table>



<script type="text/javascript">
    $("#SearchString").autocomplete({
        source: '@Url.Action("AutoComplete")'
    });
</script>
