@model List<Webshop_Kolb_Nussdorfer.Models.WarenkorbItemViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Warenkorb</h2>
Zum L&ouml;schen eines Artikel, bitte die Menge auf 0 setzen!
@using (Html.BeginForm("CreateOrder", "Warenkorb",  FormMethod.Post))
{
    if (Model.Count()!=0) {
        
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Produkt.Produkt_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Produkt.Kurzbezeichnung)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Menge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Preis_brutto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Gesamtpreis_brutto)
                </th>
                <th></th>
            </tr>

        @for(int i=0; i<Model.Count();i++){
            <tr>
                 <td>
                    @Html.DisplayFor(modelItem => modelItem[i].Produkt.Produkt_ID)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => modelItem[i].Produkt.Kurzbezeichnung)
                </td>
                <td>
                    @Html.EditorFor(modelItem => modelItem[i].Menge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].Preis_brutto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem[i].Gesamtpreis_brutto)
                </td>
                <td>
                    @*@Html.ActionLink("Delete", "Delete", new { Model[i].Produkt.Produkt_ID })*@
                    @Html.HiddenFor(model=> model[i].Produkt.Produkt_ID)
                </td>
            </tr>
        }
    
        </table>
        <br />
        <input type="submit" value="Aktualisieren" />
        <input type="submit" value="Bestellung abschließen" />
        @*@Html.ActionLink("Aktualisieren", "Update", Model)*@
        @*@Html.ActionLink("Bestellung abschließen", "CreateOrder")*@
    
    @*http://stackoverflow.com/questions/3735400/html-attributes-for-editorfor-in-asp-net-mvc*@

    }
    else{
        <br /> <p>Es befinden sich keine Produkte in Ihrem Warenkorb.</p>
    }
}
   