@model Webshop_Kolb_Nussdorfer.Models.ProduktViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produktdetails</h2>

<fieldset>
    <legend>ProduktViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Produkt_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Produkt_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kurzbezeichnung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kurzbezeichnung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Langbezeichnung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Langbezeichnung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Steuersatz)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Steuersatz)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Preis_netto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Preis_netto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zutaten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zutaten)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Preis_brutto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Preis_brutto)
    </div>
    <div>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("In den Warenkorb", "Order","Warenkorb", new { id = Model.Produkt_ID},null)
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Bearbeiten", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Zurück zur Übersicht", "Index")
</p>
