@model IEnumerable<Webshop_Kolb_Nussdorfer.Models.ProduktViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm()){   
         <p> Title: @Html.TextBox("SearchString")   
         <input type="submit" value="Filter" /><br />  <br />  </p> 
        } 


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produkt_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kurzbezeichnung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Langbezeichnung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Steuersatz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preis_netto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zutaten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preis_brutto)
        </th>
        <th>Bestellen</th>
        <th>Bearbeiten</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Produkt_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kurzbezeichnung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Langbezeichnung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Steuersatz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preis_netto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zutaten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preis_brutto)
        </td>
        <td>
             @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Bestellen", "Order","Warenkorb", new { id=item.Produkt_ID},null)
             
                    }

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Produkt_ID }) |
            @Html.ActionLink("Details", "Details", new { kurzbezeichnung=item.Kurzbezeichnung }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Produkt_ID})
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $("#SearchString").autocomplete({
        source: '@Url.Action("AutoComplete")'
    });
</script>
