@model Webshop_Kolb_Nussdorfer.Models.UserViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrieren</h2>
<p>Kennwörter müssen eine Länge von mindestens @ViewData["PasswordLength"] Zeichen aufweisen</p>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(false,"Die Registrierung war nicht erfolgreich. Korrigieren Sie die Fehler und wiederholen Sie den Vorgang")

    <fieldset>
        <legend>RegisterModel</legend>
        @Html.Hidden("Usergruppe_ID", "2")

        <div class="editor-label">
            @Html.LabelFor(model => model.Benutzername)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Benutzername)
            @Html.ValidationMessageFor(model => model.Benutzername)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EMail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMail)
            @Html.ValidationMessageFor(model => model.EMail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vorname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vorname)
            @Html.ValidationMessageFor(model => model.Vorname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nachname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nachname)
            @Html.ValidationMessageFor(model => model.Nachname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adresse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adresse)
            @Html.ValidationMessageFor(model => model.Adresse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ort)
            @Html.ValidationMessageFor(model => model.Ort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PLZ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PLZ)
            @Html.ValidationMessageFor(model => model.PLZ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Land)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Land)
            @Html.ValidationMessageFor(model => model.Land)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefonnummer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefonnummer)
            @Html.ValidationMessageFor(model => model.Telefonnummer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Passwort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Passwort)
            @Html.ValidationMessageFor(model => model.Passwort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PasswortRetype)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PasswortRetype)
            @Html.ValidationMessageFor(model => model.PasswortRetype)
        </div>

        <p>
            <input type="submit" value="Registrieren" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Abbrechen", "Index", "Home")
</div>

