@model Webshop_Kolb_Nussdorfer.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrieren</h2>
<p>Kennwörter müssen eine Länge von mindestens @ViewData["PasswordLength"] Zeichen aufweisen</p>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true,"Die Registrierung war nicht erfolgreich. Korrigieren Sie die Fehler und wiederholen Sie den Vorgang")

    <fieldset>
        <legend>RegisterModel</legend>
        @Html.Hidden("User.Usergruppe_ID", "2")

        <div class="editor-label">
            @Html.LabelFor(model => model.User.Benutzername)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Benutzername)
            @Html.ValidationMessageFor(model => model.User.Benutzername)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.EMail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.EMail)
            @Html.ValidationMessageFor(model => model.User.EMail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.Vorname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Vorname)
            @Html.ValidationMessageFor(model => model.User.Vorname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.Nachname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Nachname)
            @Html.ValidationMessageFor(model => model.User.Nachname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.Adresse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Adresse)
            @Html.ValidationMessageFor(model => model.User.Adresse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.Ort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Ort)
            @Html.ValidationMessageFor(model => model.User.Ort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.PLZ)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.PLZ)
            @Html.ValidationMessageFor(model => model.User.PLZ)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.Land)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Land)
            @Html.ValidationMessageFor(model => model.User.Land)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User.Telefonnummer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User.Telefonnummer)
            @Html.ValidationMessageFor(model => model.User.Telefonnummer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <p>
            <input type="submit" value="Registrieren" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Abbrechen", "Index", "Home")
</div>

